# FileName: .gitignore
# version 1.1
# Summary: ignores pycache files in root and procedural_map_generator/
# Tags: gitignore, git

# Added lines to ensure __pycache__ and .pyc files in *all* subdirectories are ignored:
character/*.json
**/__pycache__/
**/*.pyc
summary_print/all_results_*.txt
